.title {
    margin: 25px auto;
    padding: 25px;

    font-size: 50px;
    font-weight: bold;

    text-align: center;
}

.info {
    margin: 25px auto;
    padding: 25px;

    font-size: 25px;

    text-align: center;
}

.mistake_box {
    box-sizing: border-box;

    width: 500px;
    height: 100px;
    background-color: rgb(200, 200, 200);

    margin: 200px auto;
    border: 1px rgb(165, 164, 164) solid;

    border-radius: 10px;

    color: rgb(241, 16, 16);
    font-size: 50px;
    font-weight: bold;

    line-height: 100px;
    text-align: center;
}

.content-box {
    box-sizing: border-box;

    width: 500px;
    height: 50px;
    background-color: rgb(200, 200, 200);

    margin: 25px auto;
    border: 1px rgb(80, 80, 80) solid;

    border-radius: 10px;

    color: rgb(255, 255, 255);
}